@font-face {
    font-family: agba;
    src: url(./fonts/wid.ttf);
}
@font-face {
    font-family: wid;
    src: url(./fonts/wid\ \(1\).ttf);
}
@font-face {
    font-family: domine;
    src: url(./fonts/Domine-VariableFont_wght.ttf);
}


.main-container {
    margin-left: 10vh;
    margin-right: 20vh;
    margin-top: 20vh;
    width: 100%
}

.navigation-bar {
    display: flex;
    gap:
}

.navigation-menu {
    text-decoration: none;
    justify-content: center;
    font-size: 3vh;
    margin-left: 20vh;
    height: 200px;
}

#home {
    text-decoration: none;
    padding: 3vh;
    color: black;
    margin-left: 4vh;
    justify-content: ;
}

#log-in {
    padding: 2vh;
    font-size: 1.7vh;
    border: none;
    border-radius: 2.3vh;
    font-size: 130%;
}
#sign-up {
    padding: 2vh;
    font-size: 1.7vh;
    border: none;
    border-radius: 2.3vh;
    background-color: palevioletred;
}
#red-title {
    color: red;
}

.deski {}

.deski-left {
    margin-left: 20vh;

}
.deski-left h1{
    font-size: 400%;
    font-family: agba;
}
.deski-left p{
    font-size: 120%;
}


.deski-buttons {
    ;

}

#app-store {
    background-color:navy;
    padding: 20px;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 20px;
    width: 
    height: ;
}

#play-store {
    
    padding: 10px;
    border-radius: 20px;
       font-size: 20px;
       padding-right: 10px;
       
}
.logos-heading{
    text-align: center;
    height: 100px;
}
.icons{
    gap: ;
    display: flex;
    justify-content: center;
    gap: 170px;
}
#microsoft-icon{
    width: 170px;
    height: 170px;
}
#trello-icon{
    width: 150px;
    height: 100px;
    padding-top: 50px;
    
}
#google-icon{
    width: 180px;
    height: 180px;
    
}

#social_icons{
    width: 200px;
    height: 150px;
    
}
    
#slack-icon{
    width: 100px;
    height: 100px;
    
}
#product-red{
    color: red;
}
.heading-sevices{
    justify-content: center;
    font-size: 150%;
    display: flex;
    height: 200px;
}
.dit-services{
    display: flex;
    justify-content: center;
    gap: 300px;
    height: 

}
.interface-icon{
    width: 50%;
    height:40px;
}
    
.transfers-icon{
    width: 50%;
    height:40px;
}
    
.support-icon{
    width: 50%;
    height:40px;
}
.dit-interface{
    text-align: center;
    font-size: 150%;
    border: solid palevioletred 1px;
    padding: 20px;
    border-radius: 20px;

}
.dit-transfers{
    text-align: center;
    font-size: 150%;

}
.dit-support{
    text-align: center;
    font-size: 150%;
}
.dit-statistics {
    display: flex;
    gap: 200px;
}
.statistics-one{
    margin-left: 200px;
    margin-top: 200px;
    font-size: 140%;
    font-family: domine;
}
.statistics-two{
    margin-top: 300px;
    width: 700px;
    height: 800px;
    transform: rotate(10deg);
    
}
#dit-numbers{
    color: red;
    text-decoration: underline;

}
#dit-users{
    display: flex;
    gap: 100px;
}
.helping{
    justify-content: center;
    display: flex;
    font-family: domine;
    font-size: 130%;
    height: 300px;

}
#arrow{
    margin-left: 400px;
}
.settings-one{
    font-size: 130%;
}
.settings{
    margin-left: 200px;
    display: flex;
}
.settings-two{
    display: flex;
    gap: 40px;
    margin-left: 200px;
    transform: rotate(13deg);
    margin-top: 50px;
}
.arrow-two{
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: visible;
}
#customer{
    color: red;
    text-decoration: underline;
}


#playstore #sign-up {
    background-color: palevioletred;
    padding: 2.2vh;
    font-size: 1.7vh;
    border: none;
    border-radius: 2.3vh;
    color: white;
}



.buttons {
    margin-left: 10vh;
    justify-content: flex-end;
}
#words{
    color: red;
    text-decoration: underline;
}
#word{
    display: flex;
    justify-content: center;
    font-size: 130%;
}
.feedback{
    display: flex;
    gap: 400px;
    justify-content: center;
    margin-bottom: 200px;
    
}
#feedback-one{
    border: solid palevioletred 1px;
    height: 500px;
    width: 600px;
    padding: 70px;
    border-radius: 20px;
    font-size: 170%;

}
.feedback-two{
    
    height: 500px;
    width: 600px;
    font-size: 170%;
    padding-top: 70px;
}
#feedback-one img{
    width: 300px;
    

}
.feedback-two img{
    width: 300px;
    

}
.download{
    display: flex;

    gap: 700px;
}
#download-image{
    margin-left: 200px;
    width: 300px;
    height: 400px;
}
#download-two{
    font-size: 200%;
    margin-top: 100px;

}
.footer{
    background-color: navy;
    display: flex;
    color: whitesmoke;
    margin-top: 300px;
    height: 300px;
    gap: 0px;
    font-size: 130%;
    justify-content: space-around;
    

}
.footer-icons{
    margin-top: 100px;
    margin-left: 200px;
}
.copyright{
    background-color: black;
    height: 50px;
    text-align: center;
    padding-top: 50px;
    color: white;
    


}




